services:
    schema_definition_reference_registry:
        class: \PoP\GraphQL\Registries\SchemaDefinitionReferenceRegistry
        public: true

    schema_definition_service:
        class: \PoP\GraphQL\Schema\SchemaDefinitionService
        public: true

    PoP\GraphQL\FieldResolvers\:
        resource: '../src/FieldResolvers/*'
        public: true

    PoP\GraphQL\DirectiveResolvers\:
        resource: '../src/DirectiveResolvers/*'
        public: true

    PoP\GraphQL\TypeResolvers\:
        resource: '../src/TypeResolvers/*'
        public: true
